{% extends 'basic.html' %}


{% block maincontent %}

<!-- create stylish about page of a company -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <strong>Address:</strong>
                Nawalparasi Nepal
                <br>
                <br>
                <strong>Phone:</strong>
                98********
                <br>
                <br>
                <strong>Email:</strong>
                live@mail.com
            </p>
        </div>
    </div>
</div>


{% endblock %}