{% extends 'basic.html' %}

{% block title %} Covid Report {% endblock %}

{% block maincontent %}
<!-- create a dropdown form for the different countries -->
<form method="POST">
    {% csrf_token %}
    <select name="country">
        <option value="">Select a country</option>
        {% for country in countryname %}
        <option value="{{ country }}">{{ country }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>

<!-- List of data(Newcomfirmed, totalrecover, death) for selected country  with margin between table data-->



{% if isCountry %}
<table class='table'>
    <tr>
        <th scope='col'>Country</th>
        <th scope='col'>Total Confirmed</th>
        <th scope='col'>New Confirmed</th>
        <th scope='col'>New Deaths</th>
        <th scope='col'>Total Death</th>
    </tr>

    <tr style='padding: 20px; border-spacing: 30px;'>
        <td scope='row'>{{ country_data.Country }}</td>
        <td>{{ country_data.TotalConfirmed }}</td>
        <td>{{ country_data.NewConfirmed }}</td>
        <td>{{ country_data.NewDeaths }}</td>
        <td>{{ country_data.TotalDeaths }}</td>
    </tr>

</table>

{% else %}
<h2>Global Data</h2>
<table class='table'>
    <tr>
        <th scope='col'>Total Confirmed</th>
        <th>Total Death</th>
    </tr>

    <tr>
        <td scope='row'>{{ worlddata.TotalConfirmed }}</td>
        <td>{{ worlddata.TotalDeaths }}</td>
    </tr>

</table>

{% endif %}


{% endblock %}